<%= render "layouts/navigation" %>

<main class="container">
  <div class="card p-3 my-3">

    <div class="card-body">
      <h1 class="mt-2">Willkommen bei <%= t("application_name_html") %></h1>

      Wie können wir helfen?
    </div>
  </div>

  <h2>Dienstleistungen</h2>

  <div class="card p-3 my-3">
    <h3>Webseite</h3>
    <hr />
    <div data-controller="new-website-animation">

      <div data-new-website-animation-target="animationField">
      </div>
    </div>
  </div>

  <div class="card p-3 my-3">
    <h3>Automatisierungen</h3>
    <hr />
    <div data-controller="new-website-animation">

      <div data-new-website-animation-target="animationField">
      </div>
    </div>
  </div>

  <div class="card p-3 my-3">
    <h3>Tests</h3>
    <hr />
    <div data-controller="new-website-animation">

      <div data-new-website-animation-target="animationField">
      </div>
    </div>
  </div>

</main>


<%= render "layouts/footer" %>
