<div class="row vh-100">
  <div class="h-100 col-12 col-sm-12 col-md-6 ">

    <div class="h-25">

    </div>

    <div class="card">
      <div class="card-body">
        <h2 class="card-title">Automation</h2>
        <p class="card-text text-justify">

          Möchten Sie etwas automatisieren?


        </p>
        <!--
        <p class="card-text text-center">
          <i class="bi bi-arrow-right" style="font-size: 3rem;"></i>
        </p>
        -->
      </div>
    </div>

  </div>
  <div class="col-sm-12 col-md-6">
    <%= render "stimuli/automation" %>

  </div>
</div>
