<div data-controller="automation"
  data-automation-index-value="1"
  data-automation-drawn-value=false
  data-automation-card-text-url-value="<%= image_url "card-text.svg" %>"
  data-automation-gear-url-value="<%= image_url "gear-wide.svg" %>"
  data-automation-pie-chart-url-value="<%= image_url "pie-chart.svg" %>"

  >

  <div style="min-height: 250px;" data-automation-target="animationField">
  </div>
</div>
