<div data-controller="automation"
  data-automation-index-value="1"
  data-automation-drawn-value=false
  data-automation-gear-url-value="<%= image_url "gear-wide.svg" %>" >

  <svg height="200" width="280">
  <line x1="0" y1="0" x2="300" y2="0" stroke="black" />
  <line x1="0" y1="100" x2="300" y2="100" stroke="black" />
  <line x1="0" y1="200" x2="300" y2="200" stroke="black" />

  <line x1="0" y1="50" x2="300" y2="50" stroke="#222" stroke-dasharray="3 2"  stroke-width="1" />
  <line x1="0" y1="150" x2="300" y2="150" stroke="#222" stroke-dasharray="3 2"  stroke-width="1" />

  <g id="g_translate_1" transform="translate(60, 140)">
    <g id="g_rotate">
      <g id="g_translate_2" transform="translate(-60,-140)">
        <path id="triangle" d="M60 100 L30 180 L90 180 Z"  fill="#888"/>
      </g>
    </g>
  </g>
  <circle cx="60" cy="140" r="3" fill="red" />
</svg>

  <div style="min-height: 250px;" data-automation-target="animationField">
  </div>
</div>
