<div data-controller="automation"
  data-automation-index-value="1"
  data-automation-drawn-value=false
  data-automation-gear-url-value="<%= image_url "gear-wide.svg" %>" >
  <div style="min-height: 250px;" data-automation-target="animationField">
  </div>
</div>
