<div data-controller="new-website-animation" data-new-website-animation-index-value="1" data-new-website-animation-drawn-value=false >

  <div style="min-height: 250px; width: 100%;" data-new-website-animation-target="animationField">
  </div>
</div>
