<div data-controller="new-website-animation" data-new-website-animation-index-value="1" data-new-website-animation-drawn-value=false data-new-website-animation-svg-url-value="<%= image_url "stack.svg" %>" >
  <div style="min-height: 500px; width: 100%;" data-new-website-animation-target="animationField">
  </div>
</div>
