<div data-controller="new-website-animation" data-new-website-animation-index-value="1" data-new-website-animation-drawn-value=false data-new-website-animation-svg-url-value="<%= image_url "stack.svg" %>" data-new-website-animation-card-text-url-value="<%= image_url "card-text.svg" %>" data-new-website-animation-list-task-url-value="<%= image_url "list-task.svg" %>" data-new-website-animation-image-url-value="<%= image_url "image.svg" %>" >
  <div style="min-height: 250px;" data-new-website-animation-target="animationField">
  </div>
</div>
